*{
    font-family:monospace;
    margin: 0;
    padding: 0;
    /* letter-spacing: 1rem; */
}

h1{
    font-size: 50px;
}

h2{
    font-size: 20px;
}

p{
    font-size: 25px;
    /* font-weight: 800; */
    font-style: italic;
}

body{
    background-color: white;
}

#first-layer{
    padding: 30px 0px 0px 100px;
}

.second-layer{
    padding-top: 100px;
   margin-left: 100px;
}


#img{
    height: 400px;
    width: 400px;
}

.third-layer{
    padding-top: 120px;
   margin-left: 100px;
}





